.env
__pycache__/
/data/logs/main.log
/data/models/breed/*
/data/models/bruise/*
/data/models/conformation/*
/data/models/cuts/*
/data/models/filter/*
/data/models/grease/*
/data/models/hump/*
/data/models/meat/*
/data/models/side/*
/data/models/skeleton/*
/data/models/stamp/*
