[submodule "data/models/skeleton"]
	path = data/models/skeleton
	url = git@ecoia-weights-skeleton:ecotracesolutions/ecoia-weights-skeleton.git
	branch = main
[submodule "data/models/filter"]
	path = data/models/filter
	url = git@ecoia-weights-filter:ecotracesolutions/ecoia-weights-filter.git
	branch = main
[submodule "data/models/meat"]
	path = data/models/meat
	url = git@ecoia-weights-meat:ecotracesolutions/ecoia-weights-meat.git
	branch = main
[submodule "data/models/side"]
	path = data/models/side
	url = git@ecoia-weights-side:ecotracesolutions/ecoia-weights-side.git
	branch = main
[submodule "data/models/cuts"]
	path = data/models/cuts
	url = git@ecoia-weights-cuts:ecotracesolutions/ecoia-weights-cuts.git
	branch = main
[submodule "data/models/stamp"]
	path = data/models/stamp
	url = git@ecoia-weights-stamp:ecotracesolutions/ecoia-weights-stamp.git
	branch = main
[submodule "data/models/bruise"]
	path = data/models/bruise
	url = git@ecoia-weights-bruise:ecotracesolutions/ecoia-weights-bruise.git
	branch = main
[submodule "data/models/grease"]
	path = data/models/grease
	url = git@ecoia-weights-grease-color:ecotracesolutions/ecoia-weights-grease.git
	branch = main
[submodule "data/models/conformation"]
	path = data/models/conformation
	url = git@ecoia-weights-conformation:ecotracesolutions/ecoia-weights-conformation.git
[submodule "data/models/hump"]
	path = data/models/hump
	url = git@ecoia-weights-hump:ecotracesolutions/ecoia-weights-hump
	branch = main
[submodule "data/models/breed"]
	path = data/models/breed
	url = git@ecoia-weights-breed:ecotracesolutions/ecoia-weights-breed
	branch = main
